<ngb-accordion [closeOthers]="true" activeIds="static-0">
  <ngb-panel id="static-{{i}}" title="{{movie.title}}" *ngFor="let movie of movies; index as i">
    <ng-template ngbPanelContent>
      {{movie.description}}
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#People</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let person of movie.people;">
          <td scope="row">
            {{ person.name }}
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
